.git
.github
.gitignore
.cargo

target
**/target

.env
.env.*
!.env.example

Dockerfile
docker-compose*.yml

*.log
*.tmp
.DS_Store

tarpaulin-report.html
coverage
coverage/

script
sonar-project.properties
